main {
    padding: 100px 100px 0px;
    height: 1890px;
    }

.bloco1 {
    height: 450px;    
}

.bloco1 h2 {
    position: relative;    
    top: -50px;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 70px;
    width: 400px;
    position: relative;
    left: 280px;
    color: #009688;
}

.bloco1 p {    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    width: 450px;
    position: relative;
    left: 280px;    
    top: -50px;
}

.bloco1 img {
    display: flex;
    position: relative;
    Width: 501px;
    Height: 451px;
    Top: -400px;
    Left: 950px;
    justify-content: center;
}

.box2 {
    width: 1600px;
    height: 1470px;    
    margin: 0px 80px;
    background: #F6F6F6;
    display: flex;   
    flex-wrap: wrap; 
    padding: 0px 00px 0px;    
}

.q1 {
    margin-right: 300px;
    position: relative;
    width: 500px;
    height: 230px;
    left: 128px;
    top: 67px;    
    background: #C4C4C4;
}

.q1 p {
    position: relative;
    top: 165px;
}

.q2 {
    margin-right: 300px;
    position: relative;
    width: 500px;
    height: 230px;
    left: 128px;
    top: 67px;    
    background: #C4C4C4;
}

.q2 p {
    position: relative;
    top: 165px;
}

.q3 {
    margin-right: 300px;
    position: relative;
    width: 500px;
    height: 230px;
    left: 128px;
    top: 30px;    
    background: #C4C4C4;
}

.q3 p {
    position: relative;
    top: 165px;
}

.q4 {
    margin-right: 300px;
    position: relative;
    width: 500px;
    height: 230px;
    left: 128px;
    top: 30px;    
    background: #C4C4C4;
}

.q4 p {
    position: relative;
    top: 165px;
}

.q5 {
    margin-right: 300px;
    position: relative;
    width: 500px;
    height: 230px;
    left: 128px;
    top: -20px;    
    background: #C4C4C4;
}

.q5 p {
    position: relative;
    top: 165px;
}

.q6 {
    margin-right: 300px;
    position: relative;
    width: 500px;
    height: 230px;
    left: 128px;
    top: -20px;    
    background: #C4C4C4;
}

.q6 p {
    position: relative;
    top: 165px;
}

.box2 h3 {
    color: #FF4081;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    Left: 0px;
    top: 180px;
    padding: 30px 0px 0px;    
    position: relative;
}