main {
    padding: 120px 100px 100px;
    height: 1800px;
}

.container2 {
    height: 550px;
}


.box1 h2 {
    position: relative;    
    top: -100px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    width: 390px;
    position: relative;
    left: 130px;
    color: #FF4081;
}

.box1 h3 {    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    width: 450px;
    position: relative;
    left: 130px;    
    top:  -150px;
    color: #555555;
}

.botao {
    background-color: #419488;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
    line-height: 31px;
    width: 280px;
    position: relative;
    left: 800px;
    list-style: none;
    color: white;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 10px 30px;   
    top: -50px;
    }

.box2 h2 {
    width: 512px;
    height: 40px;
    left: 800px;
    top: -80px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.box2 p {
    position: relative;
    width: 724px;
    height: 105px;
    left: 800px;
    top: -80px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.box2 img {
    max-width: 350px;
    display: flex;
    position: relative;
    top: -380px;
    left: 150px;
}

.box3 {
    position: relative;
    background-color: #C4C4C4;
    width: 1400px;
    height: 5px;
    left: 130px;
    top: -300px;
}


.bloco2 h2 {
    width: 512px;
    height: 40px;
    left: 800px;
    top: -180px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.bloco2 p {
    position: relative;
    width: 724px;
    height: 105px;
    left: 800px;
    top: -180px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.bloco2 img {
    max-width: 350px;
    display: flex;
    position: relative;
    top: -450px;
    left: 150px;
}

.bloco3 {
    position: relative;
    background-color: #C4C4C4;
    width: 1400px;
    height: 5px;
    left: 130px;
    top: -400px;
}

.botao2 {
    background-color: #419488;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
    line-height: 31px;
    width: 280px;
    position: relative;
    left: 800px;
    list-style: none;
    color: white;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 10px 30px;   
    top: -130px;
    }



.b1 h2 {
    width: 512px;
    height: 40px;
    left: 800px;
    top: -280px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.b1 p {
    position: relative;
    width: 724px;
    height: 105px;
    left: 800px;
    top: -280px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.b1 img {
    max-width: 350px;
    display: flex;
    position: relative;
    top: -600px;
    left: 150px;
}


.botao3 {
    background-color: #419488;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
    line-height: 31px;
    width: 280px;
    position: relative;
    left: 800px;
    list-style: none;
    color: white;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 10px 30px;   
    top: -220px;
    }