body {
    font-family: 'Ubuntu', Arial, sans-serif;
}

.container2 {
    height: 550px;
}

main {
    min-width: 480px;
    max-width: 900px;
}

.bloco1 h2 {
    position: relative;    
    top:  100px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    width: 390px;
    position: relative;
    left: 350px;
    color: #FF4081;
}

.bloco1 h3 {    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    width: 350px;
    position: relative;
    left: 350px;    
    top:  100px;
}

.tags a {
    text-decoration: none;
    font-size: 27px;
    line-height: 31px;
    width: 280px;
    position: relative;
    left: 450px;
    list-style: none;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 10px 30px;    
    Left: 350px;
    top:  100px;
    }
    
.bloco1 picture {
        position: relative;
        Width: 501px;
        Height: 511px;
        Top: -350px;
        Left: 1050px;
        justify-content: center;
        }

.box {
    
    width: 1740px;
    height: 730px;    
    margin: 100px 100px;
    background: #F6F6F6;
    display: flex;    
    padding: 0px 00px 0px;
    
}

.box h3 {
    color: #FF4081;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    Left: 130px;
    top: -30px;
    padding: 30px 0px 0px;    
    position: relative;
}

.box p {
    width: 280px;
    left: 1000px;
    top: 110px;
    padding: 0px 150px 10px;
    text-align: center;
}

.tags2 a {
    text-decoration: none;
    font-size: 27px;
    line-height: 31px;
    width: 280px;
    position: relative;
    left: 450px;
    color: #f8f8f8;
    background-color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 10px 30px;    
    Left: 130px;
    top:  0px;
    list-style: none;
    }

    .foto {
        max-height: 250px;
    }

    .box img {
    max-width: 250px;
    padding: 120px 200px 0px 150px;
}
 

.box2   {
    width: 1740px;
    height: 430px;    
    margin: 100px 100px;    
    display: flex;
    flex-wrap: wrap;    
    
}

.box2 h2 {
    position: absolute;
    width: 678px;
    height: 50px;
    left: 220px;
    top: 1580px;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 50px;
    color: #009688;

}

.sec1 {
    width: 570px;
    display: flex;
    padding: 50px;
    font-size: 18px;
    margin-right: 200px;
}

.sec2 {
    
    width: 570px;
    display: flex;
    padding: 50px;
    font-size: 18px;
}

.sec3 {
    margin-right: 200px;
    width: 570px;
    display: flex;
    padding: 50px;
    font-size: 18px;
}

.sec4 {
    width: 570px;
    display: flex;
    padding: 50px;
    font-size: 18px;
}

.box2 img {
        padding: 10px 40px 0px 50px;
}



.box3 {
    width: 1740px;
    height: 730px;    
    margin: 100px 100px;
    background: #F7F7F7;;
    display: flex;   
    flex-wrap: wrap; 
    padding: 0px 00px 0px;
    
}

.box3 h2 {
    position: absolute;
    width: 678px;
    height: 50px;
    left: 220px;
    top: 2200px;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
}

.last1 {
    margin-right: 300px;
    position: relative;
    width: 319px;
    height: 193px;
    left: 128px;
    top: 167px;    
    background: #C4C4C4;
}

.last2 {
    margin-right: 300px;
    position: relative;
    width: 319px;
    height: 193px;
    left: 128px;
    top: 167px;    
    background: #C4C4C4;
}

.last3 {
    position: relative;
    width: 319px;
    height: 193px;
    left: 128px;
    top: 167px;    
    background: #C4C4C4;
}

.last1 p {
    position: relative;
    top: 60px;
}

.last2 p {
    position: relative;
    top: 60px;
}

.last3 p {
    position: relative;
    top: 60px;
}

.final   {
    font-size: 27px;
    line-height: 31px;
    width: 280px;
    position: relative;
    left: -620px;
    list-style: none;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 61px;
    padding: 15px 26px;     
    top:  550px;
    }

    .last1 h3 {
        color: #009688;
        width: 319px;
        height: 114px;
        left: 0px;
        top: 171px;    
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 31px;
        position: relative;
    }
    
    

    .last2 h3 {
        color: #009688;
        width: 319px;
        height: 114px;
        left: 0px;
        top: 171px;    
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 31px;
        position: relative;
    }
    
    

.last3 h3 {
    color: #009688;
    width: 319px;
    height: 114px;
    left: 0px;
    top: 171px;    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    position: relative;
}


