.container2 {
    height: 550px;
}

.parte1 {    
    width: 462px;
    height: 261px;
    left: 235px;
    top: -150px;    
    box-sizing: border-box;
    position: relative;
}

.parte2 {    
    width: 462px;
    height: 261px;
    left: 235px;
    top: -150px;    
    box-sizing: border-box;
    position: relative;
}

.parte3 {    
    width: 462px;
    height: 261px;
    left: 235px;
    top: -150px;    
    box-sizing: border-box;
    position: relative;
}

.bloco1 h2 {
    position: relative;    
    top: -35px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    width: 490px;
    position: relative;
    left: 250px;
    color: #FF4081;
}

.bloco1 p {    
    width: 461px;
    height: 186px;
    left: 250px;
    top: -35px;    
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.bloco1 picture {
    position: relative;
    Width: 501px;
    Height: 511px;
    Top: -480px;
    Left: 1050px;
    justify-content: center;
    }

    main {
        padding: 120px 100px 100px;
        height: 1800px;
    }
    
    .container2 {
        height: 550px;
    }
 
    
    .box2 h2 {
        width: 512px;
        height: 40px;
        left: 800px;
        top: 35px;
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        color: #FF4081;
    }
    
    .box2 p {
        position: relative;
        width: 424px;
        height: 105px;
        left: 800px;
        top: 40px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
    

    
    .box3 {
        position: relative;
        background-color: #C4C4C4;
        width: 1400px;
        height: 5px;
        left: 130px;
        top: -45px;
    }
    
    
    .bloco2 h2 {
        width: 512px;
        height: 40px;
        left: 800px;
        top: 35px;
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        color: #FF4081;
    }
    
    .bloco2 p {
        position: relative;
        width: 424px;
        height: 105px;
        left: 800px;
        top: 40px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }

    
    .bloco3 {
        position: relative;
        background-color: #C4C4C4;
        width: 1400px;
        height: 5px;
        left: 130px;
        top: -45px;
    }

    
    .b1 h2 {
        width: 512px;
        height: 40px;
        left: 800px;
        top: 35px;
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        color: #FF4081;
    }
    
    .b1 p {
        position: relative;
        width: 424px;
        height: 105px;
        left: 800px;
        top: 40px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }


.total {
    background-color: #F6F6F6;
    height: 1435px;
}

.final {
    position: relative;
    top: 100px;
}

.img1 {
    position: absolute;
}

